# Python
__pycache__/
*.pyc
.venv/
.env

# dbt
target/
dbt_packages/
logs/

# Airflow
airflow/airflow.db
airflow/airflow-webserver.pid
airflow/logs/
airflow/tmp/
airflow/dags/__pycache__/

# Credentials
*.json
creds/
airflow/keys/